<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongj.login">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".view.LoginActivity"></activity>
        <activity android:name=".view.SetPasswordActivity"></activity>
        <activity android:name=".view.CoustomWebviewActivity"></activity>
    </application>

</manifest>